@model FmDraft.Models.InitViewModel

@{
    ViewBag.Title = "Initialization";
}
<script src="~/Scripts/scriptInit.js"></script>


<p class="test">TEST TEST TEST</p>

<h2>Initialization</h2>


@using (Html.BeginForm("CreateGame", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.PlayerOne, htmlAttributes: new { @class = "control-label col-md-2" })

        @Html.EditorFor(model => model.PlayerOne, new { htmlAttributes = new { @class = "form-group" } })
        @Html.ValidationMessageFor(model => model.PlayerOne, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.FormationP1, Model.formationListItems, "Choose formation");

    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PlayerTwo, htmlAttributes: new { @class = "control-label col-md-2" })
        @Html.EditorFor(model => model.PlayerTwo, new { htmlAttributes = new { @class = "form-group" } })
        @Html.ValidationMessageFor(model => model.PlayerTwo, "", new { @class = "text-danger" })
        @Html.DropDownListFor(model => model.FormationP2, Model.formationListItems, "Choose formation");

    </div>

    @Html.ListBoxFor(model => model.ChosenDivisions, Model.divisionListItems, new { @class = "league-list", @id = "leagues" });



    <input type="submit" value="Create" class="btn btn-default" />

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
