@model FmDraft.Models.ViewModel.DraftViewModel

@{
    ViewBag.Title = "New draft";

}
<script src="~/Scripts/script.js"></script>

<h2>Draft</h2>
<p id="valuta" style="display:none">@Model.GameSettings.valuta.GetSymbol()</p>

<div class="flex-containerMain">

    <div class="flex-containerStartAndSub">

        <div class="flex-containerP1">

            @{
                var i = 1;
            }

            <h1>@Model.GameSettings.Player1.Name</h1>
            <h3 style="margin-bottom: 6px">@Model.GameSettings.Player1.Formation.FormationTitle</h3>
            <h4 id="p1Budget" class="budget">@Model.GameSettings.Budget @Model.GameSettings.valuta.GetSymbol()</h4>


            @for (int index = 0; index < 7; index++)
            {

                <button id="@i" type="button" class="Player Player1">
                    Sub
                </button>

                i++;
            }
        </div>


        <div class="flex-containerP1">
            @foreach (var item in Model.GameSettings.Player1.Formation.FormationArray)
            {
                <button id="@i" type="button" class="Player Player1">
                    @item
                </button>
                i++;
            }
        </div>

    </div>

    <div class="flex-containerStartAndSub">
        <div class="flex-containerP2">
            @foreach (var item in Model.GameSettings.Player2.Formation.FormationArray)
            {
                <button id="@i" type="button" class="Player Player2">
                    @item
                </button>
                i++;
            }
        </div>
        <div class="flex-containerP2">
            <h1>@Model.GameSettings.Player2.Name</h1>
            <h3 style="margin-bottom: 6px">@Model.GameSettings.Player2.Formation.FormationTitle</h3>
            <h4 id="p2Budget" class="budget">@Model.GameSettings.Budget @Model.GameSettings.valuta.GetSymbol()</h4>


            @for (int index = 0; index < 7; index++)
            {

                <button id="@i" type="button" class="Player Player2">
                    Sub
                </button>

                i++;
            }
        </div>

    </div>
</div>



<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" id="choiceList">
                <button id='choice0' class='choice'><br><br><br><br><br><br></button>
                <button id='choice1' class='choice'><br></button>
                <button id='choice2' class='choice'><br></button>
                <button id='choice3' class='choice'><br></button>
                <button id='choice4' class='choice'><br></button>
            </div>
        </div>
    </div>
</div>
