@model FmDraft.Models.ViewModel.DraftViewModel

@{
    ViewBag.Title = "New draft";

}
<script src="~/Scripts/script.js"></script>

<h2>Draft</h2>

<div class="flex-containerMain">

    <div class="flex-containerP1">
        <h1>@Model.GameSettings.Player1.Name</h1>
        <h2>@Model.GameSettings.Player1.Formation.FormationTitle</h2>

        @{
            var i = 1;
        }
        @foreach (var item in Model.GameSettings.Player1.Formation.FormationArray)
        {

            <button id="@i" type="button" class="Player Player1">
                @item
            </button>

            i++;
        }
    </div>


    <div class="flex-containerP2">
        <h1>@Model.GameSettings.Player2.Name</h1>
        <h2>@Model.GameSettings.Player2.Formation.FormationTitle</h2>
        @foreach (var item in Model.GameSettings.Player2.Formation.FormationArray)
        {
            <button id="@i" type="button" class="Player Player2">
                @item
            </button>

            i++;
        }
    </div>
</div>




<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
        <div id="choiceList"></div>
</div>
